.section-quote {
    padding-top: 38px;
    transition: opacity 700ms;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding-top: 80px;
    }
    @media screen and (min-width: 1440px) {
        padding-top: 56px;
    }
}
.section-quote_hidden {
    position: absolute;
    opacity: 0;
}

.quote__container {
    display: flex;
    align-items: flex-start;
    gap: 17px;
}

.quote__blockquote {
    transition: opacity 700ms;
    @media screen and (max-width: 767px) {
        min-width: 290px;
        max-width: 500px;
        font-size: 12px;
        line-height: 1.83;
    }
    @media screen and (min-width: 768px) {
        min-width: 540px;
        max-width: 540px;
        font-size: 18px;
        line-height: 1.55;
    }
}

.quote__para {
    @media screen and (max-width: 767px) {
        margin-bottom: 8px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 13px;
    }
}

.quote__author {
    font-weight: 700;
}

.quote__refresh-btn {
    background-color: transparent;
}
.quote__refresh-btn:hover,
.quote__refresh-btn:focus {
    .refresh-btn__icon {
        opacity: 1;
    }
}

.refresh-btn__icon {
    opacity: 0.5;
    transition: 
        transform 300ms,
        opacity 300ms;
}