.section-quote {
    padding-top: 38px;
}

.quote__container {
    display: flex;
    align-items: flex-start;
    gap: 17px;
}

.quote__blockquote {
    width: 290px;
    font-size: 12px;
    line-height: 1.83;
    transition: opacity 700ms;

    @media screen and (min-width: 768px) {
        max-width: 540px;
        font-size: 18px;
        line-height: 1.55;
    }
}

.quote__para {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        margin-bottom: 13px;
    }
}

.quote__author {
    font-weight: 700;
}

.quote__refresh-btn {
    background-color: transparent;
}

.refresh-btn__icon {
    transition: transform 300ms;
}


@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}