.section-time {
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: auto;
    transition: opacity 1000ms;
    opacity: 0;
    @media screen and (min-width:768px) and (max-width: 1439px) {
        padding: 64px;
    }
    @media screen and (min-width:1440px) {
        padding-bottom: 98px;
        .time__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}
.time__clock-container {
    @media screen and (max-width: 767px) {
        margin-bottom: 48px;
    }
    @media screen and (min-width:768px) and (max-width: 1439px) {
        margin-bottom: 80px;
    }
    @media screen and (min-width:1440px) {
        margin-bottom: 0;
    }
}
.time__daytime-wrapper {
    display: flex;
    align-items: center;
    gap: 17px;
    @media screen and ((min-width: 1440px) or (max-width: 767px)) {
        margin-bottom: 16px;
    }
}

.time__para {
    cursor: default;
    font-weight: 300;
    line-height: 1.66;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
        font-size: 18px;
        line-height: 1.55;
    }
    @media screen and (min-width:1440px) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.time__current-time-wrapper {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 767px) {
        gap: 5px;
        margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
        gap: 11px;
    }
    @media  screen and (min-width: 768px) and (max-width: 1439px) {
        margin-bottom: 0;
    }
}

.time__current-time-title {
    cursor: default;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025em;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        font-size: 175px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 200px;
    }
}

.time__current-time-para {
    cursor: default;
    margin-bottom: 5px;
    font-weight: 300;
    line-height: 1.86;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        font-size: 32px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 40px;
    }
}

.time__place-para {
    cursor: default;
    font-weight: 700;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        line-height: 1.86;
        letter-spacing: 0.16em;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.2em;
    }
    @media screen and (min-width: 1440px) {
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.2em;
    }
}

.time__more-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 28px;
    @media screen and (max-width: 767px) {
        padding-left: 17px;
        padding-right: 4px;
        width: 115px;
        height: 39px;
    }
    .time__more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303030;
        border-radius: 50%;
        transition: background-color 250ms;
        @media screen and (max-width: 767px) {
            width: 32px;
            height: 32px;
        }

        .more-btn__down-icon {
            transition: transform 500ms;
        }
    }
    .time__more-btn:hover {
        background-color: #999;
    }

    .time__more-para {
        cursor: default;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.5;
        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.31em;
        }
    }

    @media screen and (min-width:768px) {
        width: 146px;
        height: 56px;
        padding-left: 21px;
        padding-right: 9px;
        .time__more-btn {
           width: 40px;
           height: 40px; 
        }
        .time__more-para {
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: 0.31em;
        }
    }
}
