@import url('../../node_modules/reset-css/reset.css');
@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import 'loader';
@import 'modal-error';

body {
    font-family: 'Inter';
    font-size: 15px;
    color: #fff;
    background-color: #464646;
}

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(49, 49, 49);
    transition: opacity 1000ms;
}

.section {
    padding: 0 26px;
}

button {
    cursor: pointer;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
}

.content-container {
    margin: 0 auto;
    min-width: 324px;

    @media screen and (min-width: 768px) and (max-width: 1440px) {
        min-width: 686px;
        max-width: 980px;
    }

    @media screen and (min-width: 1440px) {
        width: 1110px;
    }
}
.disabled {
    display: none;
}

@import 'quote';
@import 'time';
@import 'info';
@import 'day';
@import 'night';