<section class="section-bottom section">
    <ul class="bottom__list">
        <li class="bottom__list-item">
            <h3 class="bottom__item-title">current timezone</h3>
            <p class="bottom__item-para">Europe/London</p>
        </li>
        <li class="bottom__list-item">
            <h3 class="bottom__item-title">day of the year</h3>
            <p class="bottom__item-para">295</p>
        </li>
        <li class="bottom__list-item">
            <h3 class="bottom__item-title">day of week</h3>
            <p class="bottom__item-para">5</p>
        </li>
        <li class="bottom__list-item">
            <h3 class="bottom__item-title">week number</h3>
            <p class="bottom__item-para">42</p>
        </li>
    </ul>
</section>