<section class="section-info section">
    <div class="info__container content-container">
        <ul class="info__list">
            <li class="info__list-item">
                <h3 class="info__item-title">current timezone</h3>
                <p class="info__item-para">Europe/London</p>
            </li>
            <li class="info__list-item">
                <h3 class="info__item-title">day of the year</h3>
                <p class="info__item-para">295</p>
            </li>
            <li class="info__list-item">
                <h3 class="info__item-title">day of week</h3>
                <p class="info__item-para">5</p>
            </li>
            <li class="info__list-item">
                <h3 class="info__item-title">week number</h3>
                <p class="info__item-para">42</p>
            </li>
        </ul>
    </div>
</section>