<section class="section-info section">
    <div class="info__container content-container">
        <ul class="info__list">
            <li class="info__item">
                <h3 class="info__item-title">current timezone</h3>
                <p class="info__item-para" id="timezone"></p>
            </li>
            <li class="info__item">
                <h3 class="info__item-title">day of the year</h3>
                <p class="info__item-para" id="day-of-year"></p>
            </li>
            <li class="info__item">
                <h3 class="info__item-title">day of week</h3>
                <p class="info__item-para" id="day-of-week"></p>
            </li>
            <li class="info__item">
                <h3 class="info__item-title">week number</h3>
                <p class="info__item-para" id="week-number"></p>
            </li>
        </ul>
    </div>
</section>