<section class="section-quote section">
    <div class="quote__container content-container">
        <blockquote class="quote__blockquote">
            <p class="quote__para"></p>
            <cite class="quote__author"></cite>
        </blockquote>
        <button class="quote__refresh-btn" type="button">
            <svg class="icon refresh-btn__icon" width="17" height="17">
                <use href="./img/sprite.svg#icon-refresh"></use>
            </svg>
        </button>
    </div>
</section>
