<section class="section-top section">
    <div class="content-container">
        <div class="top__quote-container">
            <blockquote class="quote__block">
                <p class="quote__para">“The science of operations, as derived from mathematics more especially, is a science of itself, and has its own
                abstract truth and value.”</p>
                <cite class="quote__author">Ada Lovelace</cite>
            </blockquote>
            <button class="quote__refresh-btn" type="button">
                <svg class="icon refresh-btn__icon" width="17" height="17">
                    <use href="../img/sprite.svg#icon-refresh"></use>
                </svg>
            </button>
        </div>
        <div class="top__time-container">
            <div class="time__daytime-wrapper">
                <svg class="time__sun-icon icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-sun"></use>
                </svg>
                <svg class="time__moon-icon icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-moon"></use>
                </svg>
                <p class="time__daytime-para">GOOD MORNING</p>
            </div>
            <div class="time__current-time-wrapper">
                <h1 class="time__current-time-title">11:37</h1>
                <p class="time__current-time-para">BST</p>
            </div>
            <p class="time__place-para">IN LONDON, UK</p>
        </div>
        <div class="time__more-container">
            <p class="time__more-para">MORE</p>
            <button class="more-btn" type="button">
                <svg class="more-btn__down-icon">
                    <use href="../img/sprite.svg#icon-arrow-down"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
